asgiref
boto3
botocore
Django
django-cors-headers
django-storages
djangorestframework
gunicorn
jmespath
Pillow
psycopg2
pytz
s3transfer
six
sqlparse
toml
urllib3
protobuf==3.18.1
grpcio
h5py
keras
Keras-Preprocessing
idna
pytz
tensorboard
termcolor
numpy
tensorflow-estimator
tensorflow-cpu
geopy
geographiclib
Werkzeug
wrapt